.main-home-container
    .img-container
        =image_tag('/assets/background-image-home.jpg')
    .carousel-container
        .carousel
            - @themes.each do |theme|
                = link_to image_tag(theme.photos.first.photo.url), theme_path(theme.title.downcase), class:"carousel-item"
    .info-container
        .top-info-container
            Stunning Artison Themes For Every Industry and Field
        .button-container
            %a.btn.waves-effect{href:"#themes"}
                Discover
    

%div
    .row#themes
        - @themes.each do |theme|
            .col.s12.m4
                .card.medium
                    .card-image
                        = link_to image_tag(theme.photos.first.photo.url), theme_path(theme.title.downcase)
                        = link_to theme.title, theme_path(theme.title.downcase) , class:'card-title', style:"padding:0px;left:24px;bottom:24px"
                        %button.btn.theme-price
                            = number_to_currency(theme.price)
                    .card-content
                        .card-rating
                            Average Rating: 
                            - 5.times do |x|
                                -if theme.average_rating > (x+0.75)
                                    =image_tag('/assets/star-on.png')
                                -elsif theme.average_rating > (x+0.3)
                                    =image_tag('/assets/star-half.png')
                                -else
                                    =image_tag('/assets/star-off.png')
                            (
                            = theme.average_rating
                            )
                        %p
                            = theme.description
                        .card-action
                            %a.btn{:href => theme.url} Preview
                            %a.btn{:href => theme.url, style:"float:right;margin:0px;background-color: #f44336;"} Purchase