.comment{id:"comment-#{comment['id']}"}
  .user-name
    = link_to comment['user']['username'], profile_path(comment['user']['username'])
  -if type === 'Theme'
    .comment-rating
      - 5.times do |x|
        - if comment['rating'].to_f > x
          = image_tag('https://cdn.staplethemes.com/images/star-on.png', style:"height:0.9em")
        - else
          = image_tag('https://cdn.staplethemes.com/images/star-off.png', style:"height:0.9em")
  .comment-content
    = comment['content']
  - if current_user && comment['user']['id'].to_i == current_user.id
    .comment-actions
      %a{href:"", class: "delete-comment", style:"color:#9e9e9e;font-size:0.7em;cursor:pointer", data:{id:comment['id'], confirm:"Are you sure?"}} 
        Remove
