.comment
  .user-name
    = link_to comment['user']['username'], profile_path(comment['user']['username'])
  .comment-rating
    - 5.times do |x|
      - if comment['rating'].to_f > x
        = image_tag('/assets/star-on.png')
      - else
        = image_tag('/assets/star-off.png')
  .comment-content
    = comment['content']
  - if current_user && comment['user']['id'].to_i == current_user.id
    = link_to theme_comment_path(theme, comment), method: :delete, data: {theme_id: theme['id'], value: theme['comments'].length, confirm: "Are you sure?" }, remote: true, id: "delete-#{comment['id']}", class: "delete-comment" do
      %span(class="fa fa-times delete-comment-icon")