= simple_form_for @post do |f|
  .text-center
    %h2 Post
  .row
    .col-10.text-center
      = f.error_notification
    .container-fluid.col.m10.offset-m1{style:"border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 3px;padding-bottom:20px"}
      .form-group
        = f.input :title, class: "form-control"
      .form-group
        = f.input :category, class: "form-control"
      .form-group
        = f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control"
      .form-group.center
        = f.button :submit, style:"margin-top:40px;"
