.reset-container.row
    %h4.center
        Reset Password
    .col.m6.offset-m3{style:"margin-top:10px"}
        .input-field
            = label_tag :password_reset, 'Password'
            = text_field_tag :password_reset, '' , {required: true, autofocus: true, type: :password, label: false, label: 'Username or Email', input_html: { class: 'input-lg' }}
        .input-field
            = label_tag :password_confirmation_reset, 'Confirm Password'
            = text_field_tag :password_confirmation_reset, '' , {required: true, type: :password, label: false, label: 'Username or Email', input_html: { class: 'input-lg' }}
        .input-field
            = text_field_tag :user_uuid, @user.uuid, class:'hidden'
        .input-field.center
            %i#reset-password-confirm-button-modal{class:"btn waves-effect waves-light waves-input-wrapper"}
                .waves-button-input{style:"font-style:initial"} Update Password