%html
  %head
    %title Staple Themes: Artison Themes For Every Industry
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=700"}
    %meta{name:"keywords", content:"staple themes, staplethemes, staplethemes.com, wordpress, themes, wordpress themes, plugins, industry, dentist, rate, comment, submit, buy"}
    %meta{name:"description", content:"Staple Themes delivers stunning arison wordpress themes. With tons of customizations, every theme is truly endless."}
    %link{type: "application/opensearchdescription+xml", rel:"search", href:"/static/opensearch.xml"}
    %link{rel:"canonical", href:"https://www.staplethemes.com/"}
    %link{rel:"dns-prefetch", href:"https://www.googletagmanager.com"}
    %meta{property:"twitter:site", content:"Staple Themes"}
    %meta{property:"twitter:card", content:"summary"}
    %meta{property:"twitter:title", content:"Staple Themes: Artison Themes For Every Industry"}
    = favicon_link_tag 'favicon.png'
    - if current_page?(controller: 'registrations', action: 'new') || current_page?(controller: 'sessions', action: 'new') || ((controller_name.eql? "contact") && (action_name.eql? "new"))
      %meta{:name => "turbolinks-cache-control", :content => "no-preview"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_pack_tag 'application'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    - if current_page?(controller: '/themes', action: 'new') || ((controller_name.eql? "themes") && (action_name.eql? "edit"))
      = stylesheet_pack_tag 'upload'
      = javascript_include_tag 'upload', 'data-turbolinks-track' => true  
      = javascript_pack_tag 'upload', 'data-turbolinks-track': 'reload', defer: true
    - if ((controller_name.eql? "checkout") && (action_name.eql? "show"))
      = javascript_include_tag 'https://js.stripe.com/v2/'
      = javascript_include_tag 'https://www.paypalobjects.com/api/checkout.js'
      -# = stylesheet_pack_tag 'checkout'
      = javascript_pack_tag 'checkout', 'data-turbolinks-track': 'reload', defer: true
    = javascript_pack_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
%body
  .main
    = render 'layouts/partials/upper_nav'
    = render 'layouts/partials/navbar'
    -flash.each do |name, msg|
      .alert-container
        = content_tag :div, content_tag(:div, content_tag(:p, msg),  class: [:alert, alert_for(name)]), class:'alert-outer-container'
    .body-container
      = yield
    = render 'layouts/partials/cart'
= render 'layouts/partials/footer'
- if !((controller_name.eql? "themes") && (action_name.eql? "show"))
  = render 'layouts/partials/modal'
= render 'layouts/partials/login_modal'

%noscript
  %h2{:style => "text-align:center;color:#8708bd"} Staple Themes
  %div{:style => "text-align:center"} We are sorry for the inconvenience, but this site requires JavaScript to function.
  %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KFPN9Z8", :style => "display:none;visibility:hidden", :width => "0"}

:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KBLL4C3');