%footer.page-footer
    .container
        .row
            .col.l6.s12
                %h5.white-text About
                %p.grey-text.text-lighten-4 Staple Themes brings to life stunning artison themes. Usable in any industry and field.
            .col.l4.offset-l2.s12
                %h5.white-text Links
                .col.s6
                    %ul
                        %li
                            = link_to "Home", root_path, class: "grey-text text-lighten-3" 
                        %li
                            = link_to "Themes", themes_path, class: "grey-text text-lighten-3" 
                        %li
                            = link_to "Contact", contact_path, class: "grey-text text-lighten-3" 
                .col.s6
                    %ul
                        %li
                            = link_to "Terms and Conditions", terms_path, class: "grey-text text-lighten-3", style:"white-space:nowrap", style: "white-space:nowrap"
                        %li 
                            = link_to "Privacy Policy", privacy_path, class: "grey-text text-lighten-3", style: "white-space:nowrap"
                        %li 
                            = link_to "Cookie Policy", cookies_path, class: "grey-text text-lighten-3", style: "white-space:nowrap"
    .footer-copyright
        .container
            ©
            = Time.now.strftime("%Y") 
            %a{href:'https://staplethemes.com', class:'copyright-link'}
                Staple Themes Ltd.
            All Rights Reserved.
            .grey-text.text-lighten-4.right.footer-social-icons
                %a{href:"https://www.facebook.com/Staple-Themes-662852424105352/", target:"_blank"}
                    %li
                        %i.waves-effect.waves-light.fa.fa-facebook
                %a{href:"https://twitter.com/StapleThemes", target:"_blank"}
                    %li
                        %i.waves-effect.waves-light.fa.fa-twitter

    %a#back-to-top{:href => "#", class:"waves-effect waves-light"}
        %i.fa.fa-angle-up
