- if user_signed_in?
    %ul#dropdown1.dropdown-content
        %li
            = link_to "Profile", profile_path(current_user.username)
        %li
            = link_to "Settings", edit_user_registration_path
        %li
            = link_to "Purchases", purchases_path(current_user.username)
        %li.divider
        %li
            = link_to "Logout", destroy_user_session_path, method: :delete, id:'logout-button'
%nav
    .nav-wrapper
        %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
            %i.fa.fa-navicon{style:"font-size:1.6em"}
        %ul.right.hide-on-med-and-up
            %li
                %a
                    %i.fa.fa-shopping-cart
        %ul.left.hide-on-med-and-down
            %li
                = link_to "Home", root_path
            %li
                = link_to "Themes", themes_path
            %li 
                = link_to "Contact", contact_path
        %ul.right.hide-on-med-and-down
            - if user_signed_in?
                - if current_user.try(:admin?)
                    %li
                        = link_to "Create Theme", new_theme_path
                %li.dropdown-button{"data-activates":"dropdown1", id:"profile-hover"}
                    %a.profile-dropdown{href:"", style:"border-left: 1px solid rgba(255,255,255,0.5)"}
                        %i.fa.fa-user-circle
                        %i.fa.fa-angle-down{style:'margin-left:2px'}
                        = current_user.username
            - else
                %li
                    = link_to "Register", new_user_registration_path
                %li
                    = link_to "Login", new_user_session_path
        %ul.side-nav#mobile-demo
            %li
                = link_to "Home", root_path
            %li
                = link_to "Themes", themes_path