.theme-container
    .title
        %h3.center
            = @theme['title']
    .upper-half
        .row
            .col.m6.s12
                .img-container
                    -if @theme['photo_urls'][0]
                        = image_tag(@theme['photo_urls'][0])
            .col.m6.s12
                .information
                    .rating
                        %p 
                            Averate rating: 
                            %span.theme-stars{style:"position:relative;top: 2px;"}
                                - 5.times do |x|
                                    -if @theme['average_rating'].to_f > (x+0.75)
                                        =image_tag('https://cdn.staplethemes.com/images/star-on.png')
                                    -elsif @theme['average_rating'].to_f > (x+0.3)
                                        =image_tag('https://cdn.staplethemes.com/images/star-half.png')
                                    -else
                                        =image_tag('https://cdn.staplethemes.com/images/star-off.png')
                                
                            %span{style:"padding-left:5px;white-space:nowrap"}
                                (
                                =@theme['average_rating']
                                )
                            
                            %span{style:"padding-left:5px;color:grey;font-size:0.7em;white-space:nowrap"}
                                =@theme['ratings_count']
                                =@theme['ratings_count'] == 1 ? "Rating" : "Ratings" 
                                Cast
                    .actions
                        .preview
                            %a.btn.waves-effect.waves-light{:href => @theme['url'], id:'preview-button', style:'margin-top:10px', target:"_blank"} Preview
                        -if (current_user && @theme['purchasers'].key?(current_user.uuid)) || (@theme['single_sale_price'] && @theme['multi_sale_price'] && @theme['single_sale_price'].to_f === 0.00 && @theme['multi_sale_price'].to_f === 0.00) || (@theme['single_price'].to_f === 0.00 && @theme['multi_price'].to_f === 0.00)
                            -if request.user_agent =~ /Mobile|webOS|Mobi/
                                %button.disabled.btn.download-btn.capitalize{data:{theme:@theme['title_url']}, style:"pointer-events:all"} 
                                    Download
                                    %i{class:"fa fa-cloud-download", style:"font-size:1.1em"}
                            -else
                                %button.btn.download-btn.capitalize.waves-effect.waves-light{data:{theme:@theme['title_url']}} 
                                    Download
                                    %i{class:"fa fa-cloud-download", style:"font-size:1.1em"}
                        -else
                            .cart
                                %select#license-select{style:"margin-top:10px", data:{theme:@theme['id']}}
                                    %option#single-license-option{value: 1, :selected => 'selected'}
                                        Single Use License:
                                        = (@theme['single_sale_price'] ? number_to_currency(@theme['single_sale_price']) : number_to_currency(@theme['single_price']))
                                    %option#multi-license-option{value: 2}
                                        Multi Use License:
                                        = (@theme['multi_sale_price'] ? number_to_currency(@theme['multi_sale_price']) : number_to_currency(@theme['multi_price']))
                                %button.btn.waves-effect.waves-light#add-to-cart{style:"margin-top:10px;background-color: #f44336;"} Add To Cart
    
    - if current_user && current_user.id === @theme['user_id']
        .edit-links
            = link_to "Edit Theme", edit_theme_path(@theme['title_url'])
                
    .description
        = render 'description', theme: @theme
.comments-container
    %h5 Comments:
    -if @theme['comments'].any?
        - @theme['comments'].each do |comment|
            = render 'comments/comment', {comment: comment, theme:@theme, type:"Theme"}
    - else
        %p#no-comments
            No Comments Have Been Added
.comments-form-container
    -if user_signed_in?
        = render 'comments/form', {type:'Theme'}
        