.login-bg
  .container
    .row
      .col-md-4.col-md-offset-4
        .log-in.panel
          .panel-heading
            %h2 Log in
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.error_notification
            .panel-body
              .input-field
                = f.input :login, required: true, autofocus: true, label: false, label: 'Username or Email', input_html: { class: 'input-lg' }
              .input-field
                = f.input :password, required: true, label: false, label: 'Password', input_html: { class: 'input-lg' }
              .input-field
                = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
              .input-field
                %i#sign-in-button{class:"btn waves-effect waves-light waves-input-wrapper"}
                  %input{value:"Log In", class: 'waves-button-input', type:'submit'}
                = f.submit "Log In", id:'submit-input-hidden', class: 'waves-button-input', style: "display:none"
                = link_to 'Reset Password', reset_password_path, style:"font-size: 0.95rem;margin-left: 10px;"