.checkout-container.row
    .row.col.s12{style:"white-space:nowrap;font-size:1.5em;text-align:center"}
        Total: 
        %span#total-checkout
            -if @order['discounted']
                = number_to_currency(@order['discounted_total'])
            -else
                = number_to_currency(@order['total'])
        %span#total-checkout-discounted{style:'color:red;font-size:0.8em;text-decoration:line-through'}
            -if @order['discounted']
                = number_to_currency(@order['total'])
    %div.hide-on-med-and-down{style:"position:absolute;height:80%;margin-top:6%;width:1px;left:50%;background-color:rgba(0,0,0,0.5);transform:translatex(-50%)"}
    .cart-items.col.m6.s12
        .row.hide-on-med-and-down{style:"white-space:nowrap;font-size:1.5em;text-align:center"}
            Order 
            
            %span#checkout-cart-count{style:"font-size:0.85em;position:relative;top:-1px;font-weight:300"}
                (
                = @order['themes'].length
                )
        - @order['themes'].each_with_index do |theme, index|
            .cart-item.row{id:"cart-item-#{index}", data:{theme:"#{theme['id']}"}}
                .col.m12
                    .title
                        %h4{style:"margin:0px"}
                            = link_to theme['title'], theme_path(theme['title'].downcase)
                .col.m6
                    .img
                        = link_to image_tag(theme['photos'].first['photo'].url), theme_path(theme['title'].downcase), class: "cart-modal-image"
                .col.m6{style:"text-align:right"}
                    .remove
                        %i{id:"remove-#{index}", class:"fa fa-times remove-cart-item", data:{index:index}}
                    .license
                        License:
                        - if @order['licenses'][index].to_i === 1
                            Single
                        - else
                            Multi
                    .price
                        - if @order['licenses'][index].to_i === 1
                            = (theme['single_sale_price'] ? number_to_currency(theme['single_sale_price']) : number_to_currency(theme['single_price']) )
                        - else
                            = (theme['multi_sale_price'] ? number_to_currency(theme['multi_sale_price']) : number_to_currency(theme['multi_price']) )
    .col.m6.s12
        .row 
            .col.m12{style:"margin;auto;text-align:center"}
                %h6{style:"font-size:1.25em;display:inline"} Discount Code:
                %input{style:"display:inline;width:150px;height:2.4em;margin-left:5px", type:'text', class:"browser-default", id:'discount-code'}
                %button.btn#discount-code-button.waves-effect.waves-light{style:"display:inline;margin-top:-5px"} 
                    %i{class:"fa fa-refresh"}
        .row{style:"padding-top:20px"}
            %h6.center{style:"font-size:1.25em"} How would you like to pay?
            .row.center
                %button.btn{id:"credit-card-button"} Credit Card
                %div#paypal-button
            
        .hidden.credit-card-form#credit-card-form
            .credit-card-form-js
            =form_tag({url:new_purchase_path, remote: true}, {:class => 'order-submit-form'}) do
                .row
                    .col.s6
                        =label_tag "Name"
                        =text_field_tag :name, "", id: 'name'
                    .col.s6
                        =label_tag "Number"
                        =text_field_tag :number, "", id:'number'
                .row
                    .col.s6.expiration-tags
                        =label_tag "Expiration"
                        =text_field_tag :expiry, "", id:'expiry'
                    .col.s6
                        =label_tag "CVC"
                        =text_field_tag :cvc, "", id:'cvc'
                .row.center
                    =submit_tag 'Purchase', class: 'btn order-submit', id: "order-submit"
                    %svg#purchase-spinner.spinner-circle{:viewbox => "0 0 50 50"}
                        %circle.path{:cx => "25", :cy => "25", :fill => "none", :r => "20", "stroke-width" => "5"}